.navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* Change color and size */
.hamburger-button {
    border: none;
    background: none;
    cursor: pointer;
    font-size: 200%;
    color: blue;
}

.contact-form {
    background-color: blue;
    opacity: 0.4;
}

.form-hidden {
    display: none;
}

.form-visible {
    color: red;
}

.main-page {
    border: 1px solid black;
}

p {
    margin: 0;
}