.navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid black;
    /* delete border, just use for size reference */
}

/* Change color and size */
.hamburger-button {
    border: none;
    background: none;
    cursor: pointer;
    font-size: 200%;
    color: blue;
}

.contact-form:active {
    background-color: blue;
    opacity: 0.4;
}


/* .main-page {
    border: 1px solid black;
} */

p {
    margin: 0;
}