.navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid black;
    /* delete border, just use for size reference */
}

/* Change color and size */
.hamburger-button {
    border: none;
    background: none;
    cursor: pointer;
    font-size: 200%;
    color: blue;
}

.contact-form:active {
    background-color: blue;
    opacity: 0.4;
}


.main-page {
   background-color: red;
}
/* get rid of this red, for testing only */

p {
    margin: 0;
}

.slider {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;    
}

.images {
    height: 250px;
    width: 250px;
    border-radius: 5px;
}

.left-slide {
    position: absolute;
    left: 32px;
    cursor: pointer;
}

.right-slide {
    position: absolute;
    right: 32px;
    cursor: pointer;
}
